.footer {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  justify-content: bottom;
  position: relative;
  margin-top: 5%;
  color: white;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 40%;
  background-color: gray;
}
.contact a {
  font-size: 1.3em;
  color: white;
}
